.wrapper {
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 8px;
    line-height: 22px;
    min-width: 100px;
    border-radius: 4px;
    align-items: center;
    border: 1px solid var(--primary-color);
    user-select: none;
    display: inline-flex;
    justify-content: center;

    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        opacity: 0.3;
        pointer-events: none;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.primary {
    background-color: var(--primary-color);
    color: #fff;
    &:active {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.12),
                rgba(0, 0, 0, 0.12)
            ),
            #fe2c55;
    }
}

.outline {
    color: var(--primary-color);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.textOnly {
    color: #161823;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    background-color: transparent;
}

.rounded {
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: transparent;
    border-radius: 500px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    font-size: 14px;
    color: #50525a;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.disable {
    opacity: 0.3;
    pointer-events: none;
}

.small {
    min-width: 88px;
    padding: 2px 0px;
    font-size: 16px;
}

.large {
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
}
